body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.admin-area {
  display:flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.Name {
  color:#ea3353;
}


.form-login {
  border: 2px solid #ea3353;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: inherit;
  font-size: large;
  background-color: white;
  border-radius: 15px;
  color: rgb(43, 39, 39);
  height: 300px;
  left: 49%;
  padding: 68px;
  position: absolute;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.label-login {
  margin-top: 50px;
}

.input-login {
  margin-top: 5px;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
}

.button-login {
  background-color: #ea3353;
  color: rgb(255, 255, 255);
  border: 2px solid #ea3353;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.button-login:hover {
  background-color: #e8546d;
  color: rgb(255, 255, 255);
  border: 2px solid #e8546d;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.user-header {
  display:flex;
  align-items: center;
  justify-content:space-between;
  background-image:url('./voll-background.png');
  background-size: cover;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow:  7px 13px 13px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  text-shadow: rgb(0, 0, 0) 2px 2px;
}

.loading {
  display: flex;
  justify-content:center;
}

.password {
  opacity: 80%;
  font-size: 15px;
}

.arg-login {
  font-size: 16px
}

.cards-area {
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}

.put-product {
  margin-top: -50px;
  display:flex;
  color:rgb(0, 0, 0);
  text-align: center;
  background-color: white;
  font-family: Verdana;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  box-shadow: 7px 7px 13px 12px rgba(50, 50, 50, 0.22);
  padding: 70px;
  border-radius: 15px;
  border: 2px solid #ea3353;
  margin-bottom: 20px;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 12px rgba(50, 50, 50, 0.22);
  padding: 15px;
  margin: 18px;
  width: 19.7%;
  transition: all 0.3s ease-out;
}

.button-back {
  margin-left: 20px;
  background-color: #ea3353;
  color: rgb(255, 255, 255);
  border: 2px solid #ea3353;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #ea3353;
  text-align: center;
  opacity: 70%;
}

.name-product {
  margin-top: 5px;
  margin-bottom: 15px;
}

.button-back:hover {
  background-color: #e8546d;
  color: rgb(255, 255, 255);
  border: 2px solid #e8546d;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.button-header {
  margin-left: 20px;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin-top: 10px;
}

.button-header:hover {
  margin-left: 20px;
  background-color: #f8e9e9;
  color: #000000;
  border: 2px solid #f0e7e7;
  border-radius: 5px;
  margin-top: 10px;
}

.Card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.out-adm {
  background-color: #ea3353;
  height: 100vh;
}

.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 12px rgba(50, 50, 50, 0.22);
  padding: 15px;
  margin: 20px;
  width: 200px;
  transition: all 0.3s ease-out;
}

.carrinho {
  display: flex;
  justify-content:center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
