body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.admin-area {
  display:flex;
  justify-content: space-evenly;
}


.form-login {
  border: 2px solid #ea3353;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: inherit;
  font-size: large;
  background-color: white;
  border-radius: 15px;
  color: rgb(43, 39, 39);
  height: 300px;
  left: 49%;
  padding: 68px;
  position: absolute;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.label-login {
  margin-top: 50px;
}

.input-login {
  margin-top: 5px;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
}

.button-login {
  background-color: #ea3353;
  color: rgb(255, 255, 255);
  border: 2px solid #ea3353;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.button-login:hover {
  background-color: #e8546d;
  color: rgb(255, 255, 255);
  border: 2px solid #e8546d;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
